.card {
  width: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 25px;
}
.img {
  width: 330px;
  height: 250px;
  justify-content: center;
}
.container {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.instances {
  width: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
