/* .left {
    animation: run ease 3s;
}

.right {
    animation: rerun ease 3s;
}

@keyframes run {
    0% {
        margin-left: -10%;
    }
    100% {
        margin-left: 20%;
    }
}

@keyframes rerun {
    0% {
        margin-right: -10%;
    }
    100% {
        margin-right: 90%;
    }
} */