@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
body {
    font-family: Lato, sans-serif;
}

footer {
    width: 100vw;
    /* position: static; */
    bottom: 0px;
    margin-left: -6px;
    /* margin-top: 15px; */
}

footer div {
    background-color: #4478e3;
    margin: -5px 0px 0px 0px;
    padding: 0px;
    color: #fff;
    text-align: center;
}

svg {
    width: 100%;
    /* margin-bottom: -15px; */
}

.arrow {
    stroke-width: 0.3px;
    stroke: yellow;
}

.topball {
    animation: ball 1.5s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.3s;
    cursor: pointer;
}

.wave {
    animation: wave 3s linear;
    animation-iteration-count: infinite;
    fill: #4478e3;
}

.drop {
    fill: transparent;
    animation: drop 5s ease infinite normal;
    stroke: #4478e3;
    stroke-width: 0.5;
    opacity: 0.6;
    transform: translateY(80%);
}

.drop1 {
    transform-origin: 20px 3px;
}

.drop2 {
    animation-delay: 3s;
    animation-duration: 3s;
    transform-origin: 25px 3px;
}

.drop3 {
    animation-delay: -2s;
    animation-duration: 3.4s;
    transform-origin: 16px 3px;
}

.gooeff {
    filter: url(#goo);
}

#wave2 {
    animation-duration: 5s;
    animation-direction: reverse;
    opacity: 0.6;
}

#wave3 {
    animation-duration: 7s;
    opacity: 0.3;
}

@keyframes drop {
    0% {
        transform: translateY(80%);
        opacity: 0.6;
    }
    80% {
        transform: translateY(80%);
        opacity: 0.6;
    }
    90% {
        transform: translateY(10%);
        opacity: 0.6;
    }
    100% {
        transform: translateY(0%) scale(1.5);
        stroke-width: 0.2;
        opacity: 0;
    }
}

@keyframes wave {
    to {
        transform: translateX(-100%);
    }
}

@keyframes ball {
    to {
        transform: translateY(20%);
    }
}